* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
}

p { margin-top: 0; margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

img { display: block; }
figure { margin: 0 0 8px 0; }

a {
  color: var(--color-blanco);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}
