@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
  font-size: 64px;
  font-weight: 200;
  letter-spacing: -3px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: lowercase;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: 32px;
  font-weight: 900;
}