:root {
  --color-primary: #D2C1B6;
  --color-secondary: #1B3C53;
  --color-background: #F9F3EF;
  --color-surface: #456882;
  --color-blanco: #FFFFFF;
  --color-negro: #000000;
  --color-gris-claro: #CCCCCC;
  --color-gris-oscuro: #333333;
  
  --color-gold: #FCA311;
  --color-dark-blue: #14213D;
  --color-celeste: #8fb8d4;
  --color-grey: #495057;
  --color-light-grey: #E5E5E5;
  --color-blue: #0D6EFD;
  --color-red: #DC3545;
  --color-normal-grey: #ADB5BD;
  --color-green: #198754;
}
